.container {
  width: max-content;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dial {
  height: 400px;
  width: 400px;
}

.timer {
  position: relative;
  display: inline-block;
  border-radius: 50px;
  background-color: #f0adad;
  box-shadow: 20px 20px 60px #cc9393, -20px -20px 60px #ffc7c7;
}

* {
  font: inherit;
}

body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans",
    "Droid Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #f0adad;
}

.timer input {
  display: block;
  border: none;
  width: 240px;
  font-size: 90px;
  text-align: center;
  margin-bottom: 10px;
  color: #0077;
  border-radius: 25px;
  background-color: #f0adad;
  box-shadow: 20px 20px 60px #cc9393, -20px -20px 60px #ffc7c7;
}

.timer button {
  border: none;
  font-size: 36px;
  cursor: pointer;
  color: #0077;
  background-color: transparent;
}

.timer button:focus {
  outline: none;
}

.timer input:focus {
  outline: none;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
